@import './theme.css';

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--text-family);
    height: 100%;
    /* overflow: hidden; */
    background: var(--background-color-panel);
    color: var(--text-color-primary);
    max-height: 100%;
}

body #root{
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 4px;
    background: var(--item-color-primary);
    font-family: var(--text-family);
    font-size: 12px;
    color: var(--text-color-primary);
    padding: 4px 8px;
    cursor: pointer;
}
button svg {
    fill: var(--text-color-primary);
}
button:hover {
    background: var(--item-color-hover);
}
button:active {
    background: var(--item-color-pressed);
}
button:disabled {
    background: var(--item-color-disabled);
    cursor: not-allowed;
}

svg {
    fill: var(--text-color-primary);
}

input {
    border: var(--outline-color) 1px solid;
    border-radius: 4px;
    background: var(--item-color-primary);
    font-family: var(--text-family);
    font-size: 14px;
    color: var(--text-color-primary);
    padding: 4px 8px;
    height: fit-content;
}
input:focus {
    outline: none;
    background: var(--item-color-hover);
}
input::placeholder {
    color: var(--text-color-description);
}

select {
    appearance: none;
    border: var(--outline-color) 1px solid;
    border-radius: 4px;
    background: var(--item-color-primary);
    font-family: var(--text-family);
    font-size: 14px;
    color: var(--text-color-primary);
    padding: 4px 8px;
}
select:focus {
    outline: none;
    background: var(--item-color-hover);
}
select option {
    color: var(--text-color-primary);
    background-color: var(--item-color-primary);
}
select option:hover {
    color: var(--text-color-on-accent);
    background-color: var(--active-color);
}

p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--text-color-primary);
}
h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-primary);
}
h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-primary);
}
h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-primary);
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color-primary);
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color-primary);
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color-primary);
}