@import './fonts.css';

:root{
    --background-color-panel: #F3F3F3;
    --background-color-page: #F9F9F9;
    --background-color-block: #FFFFFF;

    --outline-color: #DDDDDD;

    --filter-opacity: 0;
    
    --text-color-primary: #1A1A1A;
    --text-color-description: #5F5F5F;
    --text-color-on-accent: #E5E5E5;

    --item-color-primary: #F3F3F3;
    --item-color-hover: #E6E6E6;
    --item-color-pressed: #DDDDDD;
    --item-color-disabled: #BEBEBE;
    --item-color-active: #FDFDFD;

    --logo-color-g-start: #1188FB;
    --logo-color-g-end: #00386F;
    --logo-g-direction: to bottom;

    --text-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --active-color: #005FB8;
    --error-color: #C42B1C;
}
html.default.dark {
    --background-color-panel: #0C0C0C;
    --background-color-page: #060606;
    --background-color-block: #131313;

    --outline-color: #222222;

    --filter-opacity: 0;
    
    --text-color-primary: #E5E5E5;
    --text-color-description: #A0A0A0;
    --text-color-on-accent: #1A1A1A;

    --item-color-primary: #0C0C0C;
    --item-color-hover: #191919;
    --item-color-pressed: #222222;
    --item-color-disabled: #414141;
    --item-color-active: #020202;

    --logo-color-g-start: #047BEE;
    --logo-color-g-end: #90C8FF;
    --logo-g-direction: to bottom;

    --text-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --active-color: #47A6FF;
    --error-color: #E34A3B;
}

html.a-launcher {
    --background-color-panel: #FFFFFF;
    --background-color-page: #E2E2EA;
    --background-color-block: #FFFFFF;

    --outline-color: #D5D5DC;

    --filter-opacity: 0;
    
    --text-color-primary: #181819;
    --text-color-description: #666666;
    --text-color-on-accent: #FFFFFF;

    --item-color-primary: #FFFFFF;
    --item-color-hover: #E6E6E6;
    --item-color-pressed: #DDDDDD;
    --item-color-disabled: #BEBEBE;
    --item-color-active: #FDFDFD;

    --logo-color-g-start: #1188FB;
    --logo-color-g-end: #00386F;
    --logo-g-direction: to bottom;

    --text-family: 'Inter';

    --active-color: #0062FF;
    --error-color: #DA4137;
}
html.a-launcher.dark {
    --background-color-panel: #000000;
    --background-color-page: #121217;
    --background-color-block: #000000;

    --outline-color: #202025;
    
    --filter-opacity: 0;
    
    --text-color-primary: #FFFFFF;
    --text-color-description: #70707C;
    --text-color-on-accent: #FFFFFF;

    --item-color-primary: #000000;
    --item-color-hover: #191919;
    --item-color-pressed: #222222;
    --item-color-disabled: #414141;
    --item-color-active: #020202;

    --logo-color-g-start: #1188FB;
    --logo-color-g-end: #00386F;
    --logo-g-direction: to bottom;

    --text-family: 'Inter';

    --active-color: #4900FF;
    --error-color: #FD4438;
}

html.omori {
    --background-color-panel: #051A31;
    --background-color-page: url("./../assets/img/Sunny.png");
    --background-color-block: #243B71;

    --outline-color: #10263B;
    
    --filter-opacity: 0.5;
    
    --text-color-primary: #AFDCE8;
    --text-color-description: #C0DCE9;
    --text-color-on-accent: #3A4B4F;

    --item-color-primary: #243B71;
    --item-color-hover: #2A478C;
    --item-color-pressed: #1D2F59;
    --item-color-disabled: #051A31;
    --item-color-active: #152B62;

    --logo-color-g-start: #52ABFA;
    --logo-color-g-end: #4593D9;
    --logo-g-direction: to bottom;

    --text-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --active-color: #66B1F4;
    --error-color: #F46668;
}
html.omori.dark {
    --background-color-panel: #12161E;
    --background-color-page: url("./../assets/img/Omori.png");
    --background-color-block: #11112C;

    --outline-color: #1B2028;
    
    --filter-opacity: 0.5;
    
    --text-color-primary: #ACABD7;
    --text-color-description: #9FA9C3;
    --text-color-on-accent: #3B3B49;

    --item-color-primary: #11112C;
    --item-color-hover: #1B1B43;
    --item-color-pressed: #0C0C1F;
    --item-color-disabled: #0C0C1F;
    --item-color-active: #11112B;

    --logo-color-g-start: #605DD2;
    --logo-color-g-end: #504CCF;
    --logo-g-direction: to bottom;

    --text-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --active-color: #6865CE;
    --error-color: #CE6567;
}

html.columbina {
    --background-color-panel: #1A1417;
    --background-color-page: url("./../assets/img/Columbina.png");
    --background-color-block: #352B30;

    --outline-color: #43383E;
    
    --filter-opacity: 0.8;
    
    --text-color-primary: #DFBEC5;
    --text-color-description: #CDC9CA;
    --text-color-on-accent: #3A3133;

    --item-color-primary: #352B30;
    --item-color-hover: #49313D;
    --item-color-pressed: #3B1E2C;
    --item-color-disabled: #271F23;
    --item-color-active: #030202;

    --logo-color-g-start: #B8293F;
    --logo-color-g-end: #832432;
    --logo-g-direction: to bottom;

    --text-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --active-color: #AA3B4C;
    --error-color: #D34043;
}