@import './../../theme.css';

.folder-page{
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.folder-page .folder-name{
    display: flex;
    align-items: center;
}
.folder-page .folder-name .folder-controll-buttons{
    display: flex;
    gap: 8px;
    margin-right: 12px;
}
.folder-page .folder-name .folder-controll-buttons button{
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid var(--outline-color);
}
.folder-page .folder-name h4{
    flex: 1;
}

.folder-page .folder-name .view-switch{
    display: flex;
    align-content: center;
    border: var(--outline-color) 1px solid;
    padding: 0 4px;
    border-radius: 100px;
}
.folder-page .folder-name .switch-item{
    cursor: pointer;
    padding: 4px 12px;
}
.folder-page .folder-name .switch-item.active{
    fill: var(--active-color);
}

.folder-page .tags{
    padding: 16px 0;
    display: flex;
    gap: 8px;
}

.folder-page .tag{
    padding: 4px 16px;
    border-radius: 100px;
    border: var(--outline-color) 1px solid;
    font-size: 14px;
    cursor: pointer;
}
.folder-page .tag.active{
    border: var(--active-color) 1px solid;
    color: var(--active-color);
}

.folder-page .tools{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 16px;
    margin: 0;
    padding: 0;
}
.folder-page .tools.mini{
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
.folder-page .tool-card-big {
    background-color: var(--background-color-block);
    border: var(--outline-color) 1px solid;
    border-radius: 8px;
    padding: 16px;
}
.folder-page .tool-card-big .cover{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    border: var(--outline-color) 1px solid;
    object-fit: cover;
}
.folder-page .tool-card-big .tool-info{
    display: flex;
    gap: 12px;
    padding-bottom: 12px;
}
.folder-page .tool-card-big .tool-info img{
    aspect-ratio: 1/1;
    width: 56px;
    object-fit: cover;
    border-radius: 4px;
}
.folder-page .tool-card-big .tool-info .text{
    flex: 1;
}
.folder-page .tool-card-big .tool-info .text p{
    color: var(--text-color-description);
}
.folder-page .tool-card-big .tool-description{
    color: var(--text-color-description);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 12px;
}

.folder-page .tool-card-mini {
    height: 92px;
    background-color: var(--background-color-block);
    border: var(--outline-color) 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.folder-page .tool-card-mini img{
    aspect-ratio: 1/1;
    width: 32px;
    object-fit: cover;
    border-radius: 4px;
}
.folder-page .tool-card-mini p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin: 8px 8px 0;
}
.folder-page .submenu{
    z-index: 2;
    background: var(--item-color-primary);
    border: var(--outline-color) 1px solid;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 50, 0.3) 0 2px 8px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 2px;
}
.folder-page .submenu .submenu-item{
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    border-radius: 4px;
    background: var(--item-color-primary);
    font-family: var(--text-family);
    font-size: 12px;
    color: var(--text-color-primary);
    padding: 4px 8px;
    cursor: pointer;
}
.folder-page .submenu .submenu-item:hover{
    background: var(--item-color-hover);
}
.folder-page .submenu .submenu-item:active{
    background: var(--item-color-pressed);
}
.folder-page .submenu hr{
    margin: 0;
    border: var(--outline-color) solid 1px;
}