.add-folder {
    display: grid;
    height: 100%;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "box-1 box-2"
    "box-1 box-3";
}
.add-folder .icons-list{
    overflow-y: auto;
    grid-area: box-1;
    border-radius: 8px;
    margin: 8px 0 8px 8px;
    background-color: var(--background-color-block);
    border: var(--outline-color) 1px solid;
}
.add-folder .input-container{
    margin: 8px 8px 0 0;
    grid-area: box-2;
    border-radius: 4px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-folder .control-container {
    margin: 0 8px 8px 0;
    grid-area: box-3;
    display: flex;
    justify-content: flex-end;
}
.add-folder .control-container button {
    background: var(--active-color);
    color: var(--text-color-on-accent);
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
}