.add-folder {
    display: grid;
    height: calc(100% - 16px);
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin: 8px;
    grid-template-areas: 
    "box-1 box-2"
    "box-1 box-3";
}
.add-folder .icon-container {
    overflow-y: auto;
    grid-area: box-1;
    border-radius: 8px;
    background-color: var(--background-color-block);
    border: var(--outline-color) 1px solid;
}
.add-folder .icons-list{
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 4px;
}
.add-folder .icons-list .icon-item{
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    border-radius: 4px;
    border: transparent 1px solid;
    cursor: pointer;
}
.add-folder .icons-list .icon-item p{
    text-align: center;
}
.add-folder .icons-list .icon-item:hover{
    border: var(--outline-color) 1px solid;
}
.add-folder .icons-list .icon-item.active{
    background-color: var(--active-color);
}
.add-folder .icons-list .icon-item.active svg{
    fill: var(--text-color-on-accent);
}
.add-folder .icons-list .icon-item.active p{
    color: var(--text-color-on-accent);
}
.add-folder .input-container{
    grid-area: box-2;
    border-radius: 4px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-folder .control-container {
    grid-area: box-3;
    display: flex;
    justify-content: flex-end;
}
.add-folder .control-container button {
    background: var(--active-color);
    color: var(--text-color-on-accent);
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
}