@import './../../theme.css';

.sidebar-panel-settings{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    overflow-y: auto;
}

.sidebar-panel-settings a {
    color: var(--text-color-primary);
    text-decoration: none;
    padding: 6px 12px;
    width: 125px;
    border-radius: 8px;
}
.sidebar-panel-settings a:hover {
    background-color: var(--item-color-hover);
}
.sidebar-panel-settings a.active {
    background-color: var(--item-color-active);
    border: var(--outline-color) 1px solid;
}