@import './../../theme.css';

.title-bar {
 	-webkit-app-region: drag;
    display: flex;
}

.title-bar .spaser {
 	flex: 1;
}

.title-bar button {
    -webkit-app-region: no-drag;
    border-radius: 0;
    padding: 6px;
    width: 46px;
    height: 32px;
    background: none;
}
.title-bar button svg {
    fill: var(--text-color-primary);
}
.title-bar button:hover {
    background: var(--item-color-hover);
}
.title-bar button.close:hover {
    background: var(--error-color);
}

.title-bar input{
    -webkit-app-region: no-drag;
    flex: 2;
    min-width: 200px;
    max-width: 600px;
    align-self: center;
}

.title-bar .title-label{
    display: flex;
    margin: 12px 16px;
    align-items: center;
    gap: 16px;
    color: var(--text-color-primary); 
}
.title-bar .title-label .logo-svg{
    width: 20px;
    height: 20px;
    background: linear-gradient(var(--logo-g-direction), var(--logo-color-g-start), var(--logo-color-g-end));
    mask: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'> <path d='M12.7993 7.82384C11.6733 7.26164 10.382 7.07284 9.13027 7.28737C7.87853 7.50191 6.738 8.10749 5.8896 9.00807C5.0412 9.90865 4.53351 11.0527 4.44706 12.2586C4.36061 13.4646 4.70035 14.6634 5.4124 15.6651C5.4124 15.6651 6.21894 17.0094 5.05713 17.6816C4.70408 17.8786 4.29069 17.9549 3.88573 17.8976C3.39878 17.8448 3.04463 17.6401 2.62447 17.4003C2.20431 17.1605 1.84315 16.8379 1.56533 16.4542C1.29464 16.0525 1.11747 15.6004 1.04571 15.1283C0.973944 14.6561 1.00925 14.1749 1.14925 13.7168C1.26572 13.3127 1.44019 12.9259 1.66775 12.5671C2.34307 11.5025 5.73565 5.74643 6.84305 3.90931C7.24087 3.23395 7.81944 2.67048 8.52014 2.27598C9.62113 1.66766 11.2726 1.4 13.0009 3.3527L14.326 5.43011C14.5273 5.73937 14.6296 6.09763 14.6204 6.4612C14.5916 7.06039 14.3868 7.97288 12.7993 7.82384Z'/> <path d='M17.6191 17.4003C17.6191 17.4003 16.2752 18.5546 15.059 17.6603C15.059 17.6603 13.9484 16.9608 14.803 15.7563L14.8414 15.7016C15.4143 14.9053 15.7537 13.9784 15.8246 13.0161C15.8954 12.0539 15.6953 11.091 15.2446 10.2267C15.1576 10.07 15.1161 9.8941 15.1245 9.71711C15.133 9.54011 15.191 9.36847 15.2927 9.21993C15.3677 9.10034 15.4836 9.00882 15.6211 8.96066C15.7585 8.9125 15.9092 8.91061 16.048 8.95532C16.1967 8.99333 16.3356 9.0599 16.4561 9.15093C16.5767 9.24195 16.6763 9.3555 16.7489 9.48455L18.4448 13.0052C18.7432 13.4867 18.9268 14.0245 18.9825 14.5808C19.0425 15.1238 18.9475 15.6721 18.7076 16.1682C18.4677 16.6643 18.0917 17.0899 17.6191 17.4003Z'/><path d='M10.7573 9.20775C9.99393 9.0834 9.20876 9.19311 8.51539 9.52099C7.82201 9.84887 7.2564 10.3779 6.90042 11.0316C6.54445 11.6852 6.41657 12.4296 6.5353 13.1569C6.65402 13.8842 7.0132 14.5567 7.56083 15.0772C8.10847 15.5976 8.81615 15.9389 9.58147 16.0517C10.3468 16.1646 11.13 16.0431 11.8179 15.7048C12.5057 15.3665 13.0624 14.8289 13.4074 14.17C13.7524 13.5111 13.8678 12.7649 13.737 12.0395C13.6095 11.3326 13.2544 10.6806 12.7208 10.1735C12.1871 9.66634 11.5011 9.32893 10.7573 9.20775ZM11.9127 12.6813L12.7352 11.9087C12.6343 11.4343 12.3514 11.0126 11.9415 10.7255C12.0027 10.5281 12.0319 10.323 12.0279 10.1172C12.0279 10.1172 13.1513 10.8654 13.2153 11.7232L11.9095 12.9398L11.9127 12.6813ZM11.631 9.85257V11.5984L11.4358 11.4159V10.3149C11.0122 10.0467 10.4987 9.93829 9.99554 10.0107C9.89053 9.82736 9.75548 9.66104 9.59547 9.518C9.59547 9.518 10.9429 9.29292 11.631 9.85257ZM9.14739 9.64271L10.4468 10.8776H10.1716L9.35223 10.0989C8.85446 10.1978 8.41305 10.4688 8.11361 10.8593C7.90585 10.8013 7.69002 10.7736 7.4735 10.7772C7.4735 10.7772 8.24163 9.70962 9.14739 9.64271ZM6.86539 13.0706C6.86539 13.0706 6.62215 11.787 7.21425 11.1361H9.05138L8.85614 11.3186H7.69754C7.41487 11.7221 7.30074 12.2112 7.37748 12.6904C7.18726 12.7914 7.01453 12.9196 6.86539 13.0706ZM8.30564 12.5809L7.4863 13.3595C7.58803 13.8327 7.8723 14.2525 8.28324 14.5366C8.22388 14.7343 8.19584 14.9394 8.20003 15.1449C8.20003 15.1449 7.07343 14.3997 7.00302 13.542L8.30564 12.3071V12.5809ZM8.6257 15.4004V13.6546L8.81773 13.8401V14.9411C9.24226 15.2098 9.75697 15.3182 10.2612 15.2453C10.3666 15.4293 10.5016 15.5966 10.6613 15.7411C10.6613 15.7411 9.31702 15.9631 8.6321 15.4004H8.6257ZM11.1317 15.5951L9.83231 14.3602H10.1076L10.9237 15.1389C11.4232 15.0421 11.8664 14.7708 12.1655 14.3785C12.3732 14.4367 12.5891 14.4644 12.8056 14.4606C12.8056 14.4606 12.0407 15.5312 11.1381 15.5951H11.1317ZM11.1701 14.0378L11.3622 13.8523H12.5208C12.8038 13.4501 12.918 12.9618 12.8408 12.4835C13.0345 12.3833 13.2105 12.2551 13.3625 12.1034C13.3625 12.1034 13.6058 13.3839 13.0169 14.0378H11.1701Z'/></svg>") no-repeat center/contain;
}
.title-bar .title-label p{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    align-self: center;
}